.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 60px 0;
}